form {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 25px;

  .my_input {
    width: 65%;
    padding: 10px 15px;
    border-radius: 10px 0 0 10px;
    border: 1px solid #81898d;
    outline: none;
    color: #81898d;
    transition: 0.25s ease-out;

    &:hover {
      border-color: #a2c5ce;
    }

    &:focus, &:not(:placeholder-shown) {
      border-color: #9ee3f8;
      color: #20212d;
    }

    &__hover {
      border-color: #a2c5ce;
    }
  }

  .my_btn {
    width: 10%;
    border: 1px solid #81898d;
    border-left: 0;
    border-radius: 0 10px 10px 0;
    background: #81898d;
    color: white;
    font-weight: bold;
    transition: 0.25s ease-out;

    &:hover {
      cursor: pointer;
    }

    &__hover {
      border-color: #a2c5ce;
      background: #a2c5ce;
    }

    &__focus {
      border-color: #9ee3f8;
      background: #9ee3f8;
    }
  }
}
